@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
  --surface: #161616;
  --border: #2D2D2D;
  --accent: #F4714E;
  --text-muted: #A1A1AA;
}

@theme inline {
  --font-sans: 'Outfit', sans-serif;
  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-muted: var(--text-muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-feature-settings: "cv11", "ss01"; */
  -webkit-font-smoothing: antialiased;
}


@utility all-petit-caps {
  font-variant: all-petite-caps;
}